<!DOCTYPE html>
<html ng-app>
<head>
  <title>Home</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
  <style type="text/css">
    .container {
      margin-top: 25px;
    }

    table {
      width: 100%;
    }

    td {
      width: 25%;
      padding: 2px;
    }

    .btn {
      height: 80px;
    }

    .btnVDouble {
      height: 164px;
    }
  </style>
</head>
<body ng-controller="KeyPadController">

  <div class="container">
    <table>
      <tr>
        <td>
          <button class="btn btn-block btn-danger" ng-click="setModifier('Off')" ng-class="{active: modifier=='Off'}">Off</button>
        </td>
        <td>
          <button class="btn btn-block btn-info" ng-click="setModifier('VirginBlue')" ng-class="{active: modifier=='VirginBlue'}">Virgin Blue</button>
        </td>
        <td>
          <button class="btn btn-block btn-info" ng-click="setModifier('NightRed')" ng-class="{active: modifier=='NightRed'}">Night Red</button>
        </td>
        <td>
          <button class="btn btn-block btn-info" ng-click="setModifier('DimWhite')" ng-class="{active: modifier=='DimWhite'}">Dim White</button>
        </td>
      </tr>
      <tr>
        <td><button class="btn btn-block" ng-click="pushButton('7')">Bed Time</button></td>
        <td><button class="btn btn-block" ng-click="pushButton('8')" ng-class="{active: acLROn}">Living Room A/C</button></td>
        <td><button class="btn btn-block" ng-click="pushButton('9')" ng-class="{active: acBROn}">Bedroom A/C</button></td>
        <td>
          <button class="btn btn-block btn-info" ng-click="setModifier('DOWN')" ng-class="{active: modifier=='DOWN'}">-</button>
        </td>
      </tr>
      <tr>
        <td><button class="btn btn-block" ng-click="pushButton('4')" ng-class="{active: lightKI}">Kitchen</button></td>
        <td><button class="btn btn-block" ng-click="pushButton('5')" ng-class="{active: lightBR}">Bedroom</button></td>
        <td><button class="btn btn-block" ng-click="pushButton('6')" ng-class="{active: lightBS}">Bedside Lamp</button></td>
        <td>
          <button class="btn btn-block btn-info" ng-click="setModifier('UP')" ng-class="{active: modifier=='UP'}">+</button>
        </td>
      </tr>
      <tr>
        <td><button class="btn btn-block" ng-click="pushButton('1')" ng-class="{active: lightFH}">Front Hall</button></td>
        <td><button class="btn btn-block" ng-click="pushButton('2')" ng-class="{active: lightLR}">Living Room</button></td>
        <td><button class="btn btn-block" ng-click="pushButton('3')" ng-class="{active: lightIK}">Ikea</button></td>
        <td rowspan=2>
          <button class="btn btn-block btnVDouble btn-success" ng-click="pushButton('H')">Home</button>
        </td>
      </tr>
      <tr>
        <td colspan=2>
          <button class="btn btn-block btn-warning" ng-click="pushButton('0')">Away</button>
        </td>
        <td>
          <button class="btn btn-block btn-info" ng-click="setModifier('Energize')" ng-class="{active: modifier=='Energize'}">Cool White</button>
        </td>
      </tr>
    </table>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script type="text/javascript">
    function KeyPadController($scope, $timeout) {

      $scope.modifier = null;
      $scope.modifierOffAt = 0;
      $scope.acLROn = false;
      $scope.acBROn = false;
      $scope.lightFH = false;
      $scope.lightLR = false;
      $scope.lightIK = false;
      $scope.lightKI = false;
      $scope.lightBR = false;
      $scope.lightBS = false;

      $scope.updatePiStatus = function() {
        $.ajax({
          url: "/status"
        }).done(function (status) {
          $scope.acLROn = status.airConditioners["AC-LR"]["mode"] == "ON";
          $scope.acBROn = status.airConditioners["AC-BED"]["mode"] == "ON";
          
          $scope.lightLR = status['hueState']['lights'][1]['state']['on'] &&
                           status['hueState']['lights'][2]['state']['on'];

          $scope.lightBS = status['hueState']['lights'][3]['state']['on'];
          
          $scope.lightKI = status['hueState']['lights'][4]['state']['on'];

          $scope.lightBR = status['hueState']['lights'][5]['state']['on'] &&
                           status['hueState']['lights'][6]['state']['on'];

          $scope.lightFH = status['hueState']['lights'][7]['state']['on'];

          $scope.lightIK = status['hueState']['lights'][8]['state']['on'] &&
                           status['hueState']['lights'][9]['state']['on'] &&
                           status['hueState']['lights'][10]['state']['on'];
        });
      }

      $scope.checkTimer = function() {
        if ($scope.modifierOffAt < Date.now()) {
          $scope.modifier = null;
          $scope.modifierOffAt = 0;
        }
        $timeout($scope.checkTimer, 1000);
      }

      $scope.setModifier = function(modifier) {
        if (modifier == $scope.modifier) {
          $scope.modifier = null;
          $scope.modifierOffAt = 0;
        } else {
          $scope.modifier = modifier;
          $scope.modifierOffAt = Date.now() + (10 * 1000);
        }
      };

      $scope.pushButton = function(button) {
        var data = {};
        data['key'] = button;
        if ($scope.modifier == null) {
          data['modifier'] = ""
        } else {
          data['modifier'] = $scope.modifier;
        }
        $.ajax({
          url: "/execute",
          method: "POST",
          data: data
        }).done(function() {
          //$scope.updatePiStatus();
        });
        $scope.modifier = null;
      };

      $scope.checkTimer();
      setInterval($scope.updatePiStatus, 5000);
    }
  </script>
</body>
</html>
